html,body {
  height: 100%;
  font-family: Tahoma, Arial sans-serif;
  font-size:14px;
}

.wrapper{
	min-height: 100%;
	background: url(../img/fon.png) repeat-x;
	position: relative;
}

.main{
	
	width: 1000px;
	margin: 0 auto;
	background-color: #fff;
	-moz-box-shadow: 0px 4px 8px #031d28;
	-webkit-box-shadow: 0px 4px 8px #031d28;
	box-shadow: 0px 4px 8px #031d28;
}

.head{
	position: relative;
	height: 175px;
}

.logo{
	padding: 12px 28px;
}

.trip{
	position: absolute;
	left: 100px;
	bottom: 55px;
}

.contacts{
	position: absolute;
	top:10px;
	right: 30px;
	line-height: 18px;

}

header p {
	font-size: 12px;
	color: #128aa7;
}

header a {
	font-size: 10px;
	color: #128aa7;
}

.bold {
	font-weight: bold; 
}

.contries{
	position: absolute;
	bottom: 8px;
	right: 30px;
}

.contry{
	display: inline-block;
	padding: 0 4px;
}

.contry a{
	display: block;
	text-align: center;
}

.contry a span{
	display: block;
}

.picture img{
	border-top: 1px solid #138aa7;
	border-bottom: 1px solid #138aa7;
}

.picture{
	border-bottom: 1px solid #cacbcb;
	height: 239px;
}

ul.menu {
	position: relative;
	padding: 0 38px;
	background: rgb(55,55,55); /* Old browsers */
	background: -webkit-linear-gradient(rgba(55,55,55,1) 0%, rgba(48,48,48,1) 100%);
	background: -o-linear-gradient(rgba(55,55,55,1) 0%, rgba(48,48,48,1) 100%);
	background: linear-gradient(rgba(55,55,55,1) 0%, rgba(48,48,48,1) 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373737', endColorstr='#303030',GradientType=0 ); /* IE6-9 */
    list-style: none;
    border-bottom: 1px solid black;
    -webkit-box-shadow: 0px 3px 14px #555555;
	-moz-box-shadow: 0px 3px 14px #555555;
	box-shadow: 0px 3px 14px #555555;
}

ul.menu > li {
    float: left;
    position: relative;
}

ul.menu > li > a {
    display: block;
    padding: 7px 35px;
    color: white;
    text-decoration: none;
}

ul.submenu {
    display: none;
    position: absolute;
    width: 145px;
    top: 29px;
    left: 30px;
    background-color: #303030;
    -webkit-box-shadow: 0px 4px 18px #555555;
	-moz-box-shadow: 0px 4px 18px #555555;
	box-shadow: 0px 4px 18px #555555;
}

ul.submenu > li {
    display: block;
}

ul.submenu > li > a {
    display: block;
    padding: 6px 10px;
    color: #ebebeb;
    text-decoration: none;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}

.triangle {
	width: 0;
	height: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 6px solid white;
	position: absolute;
	top: 12px;
	right: 20px;
}

.content{
	background: url(../img/content-fon.png) repeat-y;
	float: left;
}

.side{
	width: 210px;
	float: left;
}

.center{
	width: 580px;
	float: left;
}

.content p{
	line-height: 24px;
	padding:  0 15px;
	color: #424c43;
	margin-bottom: 10px;
}

h2{
	font-size:18px;
	text-align: center;
	padding: 8px;
	color: #424c43;
}

.copyright p{
	text-align: center;
	color: white;
	padding: 8px;
}

.clearfix:after{
	content: '';
	clear: both;
	display: block;
}